# ---------- Database ----------
POSTGRES_DB=nasij
POSTGRES_USER=nasij
POSTGRES_PASSWORD=nasij
POSTGRES_HOST=db
POSTGRES_PORT=5432

DATABASE_URL=postgresql://nasij:nasij@db:5432/nasij

# ---------- OSRM ----------
OSRM_PBF_URL=https://download.geofabrik.de/asia/saudi-arabia-latest.osm.pbf

# ---------- Grafana ----------
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin
