
# Web
NEXT_PUBLIC_ETL_BASE=http://localhost:9101
NEXT_PUBLIC_API_BASE=http://localhost:8088
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=please-change
KEYCLOAK_URL=http://localhost:8081
KEYCLOAK_REALM=nasij
KEYCLOAK_CLIENT_ID=web
KEYCLOAK_CLIENT_SECRET=CHANGE_ME
