# === Core ===
POSTGRES_USER=nasij
POSTGRES_PASSWORD=nasij
POSTGRES_DB=nasij
POSTGRES_PORT=5432

# === API/ETL ===
API_PORT=4000
ETL_PORT=5000
WEB_PORT=3000

# === MQTT ===
MQTT_PORT=1883

# === GRAFANA/PROMS ===
GRAFANA_PORT=3001
PROM_PORT=9090

# === KEYCLOAK (اختياري) ===
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin